/*
:root {
    --font-stack: 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

* {
    font-family: var(--font-stack);
}

body {
    background: #000000;
    color: #FFFFFF;
    transform: rotate3d(1, 2.0, 3.0, 10deg);
}

nav,
main,
footer {

}

nav {
    border-radius: 20px 20px 0 0;
}

footer {
    border-radius: 0 0 20px 20px;
    margin-top: 0;
}

input[type="text"] {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid #1a1a1a;
    font-family: var(--font-stack);
    transition: all 0.2s ease-in-out;
}

input[type="text"]:focus-visible {
    outline: none;
    border-bottom: 1px solid #fff;
}

.profile .table-section:first-of-type,
.blog-preview,
.blurbs .section:nth-of-type(2),
.blurbs .heading,
.friends {
    display: none !important;
}

.profile-pic {
    overflow: hidden;
}

.profile-pic img {
    filter: blur(20px);
}
*/

.blog-preview,
.url-info + .table-section,
.mood > p + p {
    display: none;
}

.blurbs > .inner > .section + .section h4 {
    visibility: hidden;
}

.blurbs > .inner > .section + .section h4::before {
    content: 'Test:';
    visibility: visible;
    font-weight: bold;
    color: var(--dark-orange);
}

.blurbs .about-me {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(90deg, #953, #E60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
